
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 300vh; 
  width: 100vw; 
  text-align: end;
  background-color: #f4f4f4;
  background-image: url('https://images.unsplash.com/photo-1598528738936-c50861cc75a9?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFrZXVwJTIwcHJvZHVjdHN8ZW58MHx8MHx8fDA%3D');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  padding-top: 70px; 
  position: relative;
  z-index: 1; 
}

.landing-title {
  font-size: clamp(5rem, 5vw, 5rem);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
  margin: 0 10px;
  text-align: end;
  max-width: 90%;
  word-wrap: break-word;
  position: relative; 
  z-index: 10; 
}

@media (max-width: 768px) {
  .landing-title {
    font-size: 4rem; 
  }
}

@media (max-width: 480px) {
  .landing-title {
    font-size: 2.5rem; 
    line-height: 1.3; 
  }
}


.landing-subtitle {
  font-size: 1.5rem; 
  margin-bottom: 30px;
  color: #ddd;
  max-width: 600px;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}


.landing-button {
  padding: 10px; 
  font-size: 1rem; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 12px; 
  cursor: pointer;
  width: 150px; 
  text-align: center; 
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 7px rgba(0, 123, 255, 0.3);
}

.landing-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0, 123, 255, 0.4);
}


.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(51, 51, 51, 0.8); 
  color: #fff;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
}


.user-actions {
  display: flex;
  gap: 10px;
}

.user-action-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.user-action-link:hover {
  background-color: #444;
}

.sign-in {
  background-color: gray;
}

.log-in {
  background-color: grey;
}
