.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.user-actions {
  display: flex;
  gap: 10px;  
}

.user-action-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.user-action-link:hover {
  background-color: #444;
}

.sign-in {
  background-color: gray
}

.log-in {
  background-color: grey 
}
