/* General body styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
  }
  
  /* Main container to wrap content */
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  /* Statistics data object styling */
  .Statistics-data-Object {
    background-color: #b93e3e; 
    color: #f5f5f5;
    border-radius: 15px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    width: 100%;
    max-width: 300px; 
    text-align: left;
    float: left;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #f5f5f5;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.1rem;
    color: #f5f5f5;
    margin: 10px 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  .Statistics-data-Object p:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  
  .Statistics-data-Object p span {
    font-weight: 600;
    color: #f5f5f5;
  }
  
  
  .Statistics-data-Object:hover {
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .Statistics-data-Object {
      max-width: 100%;
      padding: 15px;
    }
  
    h2 {
      font-size: 1.4rem;
    }
  
    p {
      font-size: 1rem;
    }
  }
  